# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland
.idea

# Production
.env
hestia
coverage.txt
models/coverage.txt
controllers/coverage.txt
config/coverage.txt
utils/coverage.txt
vouchers.json
